.header{
    height: auto;
    width: 100% !important;
    font-weight: 600;
    min-height: 65px;
    box-shadow: 2px 2px 3px 1px rgba(38, 34, 255, 0.753);
    z-index: 1;
   
}


.question-card-link {
    list-style: none;
    text-decoration: none;
    color: black;
   
    
}

.question-card-link:hover {
    list-style: none;
    text-decoration: none;
    color: black;
 
    
}

@media only screen and (max-width: 500px) {
    .question-card span {
      display: flex;
      flex-direction: column;
    }
  }


.question-card:hover{
    background-color: rgb(36, 7, 63);
    color: white;
    
}

.question-card {
    border-radius: 5px !important;
    border-bottom: 3px solid green !important;
    border-left: 3px solid rgb(185, 1, 60) !important;
}

.solution-detail-text {
    font-size: 20px;
}



.question-solution-detail-card:hover {
    box-shadow: 4px 4px 3px 1px rgba(45, 255, 133, 0.4) !important;
}

.question-solution-detail-card {
    width: 90% !important;
    border-left: 3px solid green !important;
}



.spinner-loader{
    height: 350px !important;
    width: 350px !important;
    color: rgb(29, 26, 27);
    justify-content: center;
    margin: 0 auto;
    box-shadow: 4px 4px 3px 1px rgba(255, 34, 34, 0.753) !important;
    
}

.solution-question-type{
    background-color: rgb(24, 77, 29);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 30px;
    margin-right: 1px;

}

.solution-question-type-intermediate{
    background-color: rgb(224, 9, 9);
    color: rgb(248, 248, 248);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 30px;
    margin-right: 1px;

}

.solution-question-language{
    background-color: rgb(248, 233, 25);
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 1px;

}

footer{
    position: fixed;
    bottom:0;
    width:100% !important;
    height:50px;   /* Height of the footer */
    background:rgb(34, 34, 34) !important;
    z-index: 1;
    

}

#root {
    background-color: rgba(251, 247, 255, 0.883);
    min-height: 100vh;
    width: 100%;
}

.pre-text {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   color: rgb(73, 72, 72);
   font-weight: 400;
}


.error-container {
    min-height: 50vh;
    width: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    border-top: 5px solid rgb(255, 110, 129);
}

.error-container h1 b {
    font-size: 50px;
    font-weight: 800;
    color: rgb(241, 16, 16);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;


}



.homebtn{
    background-color: rgb(233, 19, 0) !important;
    color: white;
    border-radius: 30px !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    padding: 10px !important;

}
.homebtn:hover{
    background-color: rgb(29, 28, 28) !important;
    color: white;
   
}

.main-error-head{
    font-size: 40px;
    font-weight: 600;
    color: rgb(251, 54, 19);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

}


