.question-card-link {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.question-card-link:hover {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.question-card:hover{
    background-color: rgb(53, 8, 33);
    color: white;
}